@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'anton', sans-serif;
}

#game-screen {
    display: flex;
}

#game-container {
    display: flex;
    border: 2px solid red;
    height: 100vh;
    flex: 1;
}

#drawing-container {
    display: flex;
    border: 2px solid lightgrey;
    height: 620px;
    width: 620px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

#game-controls {
    display: flex;
    width: 150px;
    border: 2px solid blue;
}

#grid-update {
    height: 50px;
    width: 90px;
    margin: 30px auto 0px auto;
    font-size: 30px;
    /* border: none; */
    cursor: pointer;
}